<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GWC Final.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D08B98FB1D47C8A0003A31C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D08B990F1D47C8A0003A31C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D08B991A1D47C8A0003A31C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
